<form name="personForm" ng-submit="formSubmit()">
        <table>
            <tr>
                <th>
                    <lable>First Name</label>
                </th>
                <td>
                    <input type="text" name="firstName" ng-model="personModel.firstname">
                </td>
            </tr>
            <tr>
                <th>
                    <lable>Last Name</label>
                </th>
                <td>
                    <input type="text" name="lastName" ng-model="personModel.lastname">
                </td>
            </tr>
            <tr>
                <th>
                    <lable>Email</label>
                </th>
                <td>
                    <input type="text" name="email" ng-model="personModel.email">
                </td>
            </tr>
            <tr>
                <td><button class="btn btn-success">Submit</button></td>
            </tr>
        </table>
            
        </form>